{% load static %}

{% block cont %}
<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <h2 class="mb-5">Estudos e Contato</h2>
        
        <ul>
            <li class="list-group-item">★ Engenharia de Dados: Estudando para tirar o certificado AZ-900 (Conhecimentos básicos dos serviços provisionados pela plataforma Microsoft Azure).</li>
            <li class="list-group-item">★ Engenharia de Dados: Estudando para tirar o certificado DP-900 (Principais conceitos de dados e serviços de dados relacionados ao Microsoft Azure).</li>
            <li class="list-group-item">★ Ciência de Dados: Estudando para tirar o certificado AI-900 (ML, IA  e serviços relacionados ao Microsoft Azure).</li>
            <li class="list-group-item">★ Desenvolvedor Back-End: Criando projeto CRUD com o framework Laravel.</li>
            <li class="list-group-item">★ Desenvolvedor Back-End: Criando API REST com PHP.</li>
          </ul>
    </br>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/allan-diamante/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/allandiamante"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/AllanDiamante4"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="https://www.facebook.com/allan.diamante"><i class="fab fa-facebook-f"></i></a>
        </div>
        <br/>

        {% include "./email.html" %} 
    </div>

    
</section>
{% endblock %}