{% load static %}

{% block edu %}
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Formação</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Universidade Estadual de Maringá - UEM</h3>
                <div class="subheading mb-3">Bacharel em Ciência da Computação </div>
                <div><b>Matérias Principais:</b> Inteligência Artificial I e II, Banco de Dados I e II, Redes I e II, Engenharia de Software I a IV, Projeto e Análise de Algoritmo, Modelagem e Otimização de Algoritmo, Programação Concorrente, Compiladores.</div>

            </div>
            <div class="flex-shrink-0"><span class="text-primary">2017 - 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Serviço Nacional de Aprendizagem Industrial - SENAI</h3>
                <div class="subheading mb-3">Técnico em Mecatrônica</div>
                <div><b>Matérias Principais:</b> Inovação e Empreendedorismo I, Eletrônica Aplicada a Sistemas Automatizados, Mecânica Aplicada e Sistemas Automatizados, Lógica de Programação, Circuitos Microcontrolados, Sistemas Lógicos Programáveis II </div>

            </div>
            <div class="flex-shrink-0"><span class="text-primary">2014 - 2016</span></div>
        </div>
    </div>
</section>

{% endblock %}