{% load static %}

{% block email %}

<div class="row">

        <div class  ="col-md-12 col-sm-12  shadow-dark p-5" style="border-radius: 10px;">
            <h3>Envie um Email para Contato</h3>
            <form method="POST" class="" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlInput1">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="recrutamento@tec.com" required>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Assunto</label>
                    <input type="text" class="form-control" name="title" placeholder="Vaga de Desenvolvedor" required>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Corpo</label>
                    <textarea name="message" class="form-control" placeholder="Detalhes sobre a vaga" required></textarea>
                </div>

                <button class="btn btn-primary mt-2" type="submit"> Enviar </button>

            </form>
        </div>



    </div>
</div>

{% endblock %}