{% load static %}

{% block exp %}
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experiência</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Estagio em TI</h3>
                <div class="subheading mb-3">Departamento de Informática da Universidade Estadual de Maringá</div>
                    <p> 
                    -	Desenvolvimento básico de Shell-Script<br/>
                    -   Assistência técnica em equipamentos eletrônicos como, projetores, impressoras, entre outros.<br/>
                    -	Formatação de computadores.<br/>
                    -	Montagem e manutenção de computadores<br/>
                    -   Update e instalação de software e driver’s requisitados.<br/>
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2019 - 2020</span></div>
        </div>
       
    </div>
</section>
{% endblock %}