{% load static %}

{% block proj %}
<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Projetos</h2>              
        <div id="carouselExampleControls" class="carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="card shadow-dark col-lg-6 m-5 mx-auto" style="width: 22rem;">
                            <div class="cardflag" >Full-Stack</div>
                            <img src="{% static 'example/assets/img/retrospace.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Retro Space Game</h5>
                            <p class="card-text">Retro Space é um jogo NFT.</p>
                            <p class="card-text"><b>Tecnologias Principais:</b> Unity, Blockchain Algorand, Node, ReactJS.</p>
                            <a href="https://www.retrospace.xyz/" class="btn btn-primary">Mais informações</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="card shadow-dark  col-lg-6 m-5 mx-auto" style="width: 22rem;">
                        <div class="cardflag" >Full-Stack</div>
                        <img src="{% static 'example/assets/img/diabetestcc.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Gestão de pacientes com Diabetes Mellitus</h5>
                        <p class="card-text">Projeto feito para o TCC de Bacharel em Ciência da Computação. </p>
                        <p class="card-text"><b>Tecnologias Principais:</b> Django, Django REST, Swagger e Frond-End (JavaScript e CSS).</p>
                        <a href="#" class="btn btn-danger">Em breve</a>
                        <a class="social-icon" style="margin-left: 3cm;" href="https://github.com/allandiamante"><i class="fab fa-github" style="height: 2rem; "></i></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="card shadow-dark  col-lg-6 mx-auto m-5" style="width: 22rem;  ">
                        <div class="cardflag" >Back-End</div>
                        <img src="{% static 'example/assets/img/iaclass.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">FastAPI com uma IA classificadora</h5>
                        <p class="card-text">Faça requisições JSON para classificar se o paciente é um potencial diabético.</p>
                        <p class="card-text"><b>Tecnologias Principais:</b> Python, FastAPI, Pandas e Pickle.</p>
                        <a href="https://fastapi-class-pacient.herokuapp.com/" class="btn btn-warning">Manutenção</a>
                        <a class="social-icon" style="margin-left: 3cm;" href="https://github.com/allandiamante/fastapi-classificator"><i class="fab fa-github" style="height: 2rem; "></i></a>
                        
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="card shadow-dark  col-lg-6 mx-auto m-5" style="width: 22rem; ">
                        <div class="cardflag" >Front-End</div>
                        <img src="{% static 'example/assets/img/fusion.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Tecno Fusion</h5>
                        <p class="card-text">Fusion é uma empresa de tecnologia fictícia</p>
                        <p class="card-text"><b>Tecnologias Principais:</b> Django e Frond-End (JavaScript e CSS).</p>
                        <a href="https://djangoadsfusion.vercel.app/" class="btn btn-primary">Mais informações</a>
                        <a class="social-icon" style="margin-left: 3cm;" href="https://github.com/allandiamante/djangoadsfusion"><i class="fab fa-github" style="height: 2rem; "></i></a>
                        
                        </div>
                    </div>
                </div>       
                <div class="carousel-item ">
                    <div class="card shadow-dark  col-lg-6 mx-auto m-5" style="width: 22rem; ">
                        <div class="cardflag" >Front-End</div>
                        <img src="{% static 'example/assets/img/spotify.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Spotify Training</h5>
                        <p class="card-text">Treinando Front-end copiando a interface do Spotify</p>
                        <p class="card-text"><b>Tecnologias Principais:</b> React, NextJS e TailwindCSS.</p>
                        <a href="https://spotify-tailwind-tau.vercel.app/" class="btn btn-primary">Mais informações</a>
                        <a class="social-icon" style="margin-left: 3cm;" href="https://github.com/allandiamante/SpotifyTailwind"><i class="fab fa-github" style="height: 2rem; "></i></a>
                        
                        </div>
                    </div>         
                </div>
            <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-primary rounded" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-primary rounded" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
            </a>
        </div>
    </section>
{% endblock %}