{% load static %}

{% block sobre %}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Allan
            <span class="text-primary">Diamante de Souza</span>
        </h1>
        <div class="subheading mb-5">
            Maringá/PR · Telefone: +55 (44) 9 9121-3838 ·
            <a href="mailto:allandiamantedesouza@gmail.com">allandiamantedesouza@gmail.com</a>
        </div>
        <p class="lead mb-5">Meu <b>objetivo</b> é colocar em prática o conhecimento com o intuito de contribuir para a criação de soluções inovadoras e eficientes, além de aprender e evoluir profissionalmente em um ambiente desafiador e dinâmico.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/allan-diamante/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/allandiamante"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/AllanDiamante4"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="https://www.facebook.com/allan.diamante"><i class="fab fa-facebook-f"></i></a>
            {% comment %} <a class="" href="{% url 'downloadpdf' %}"><i class="fas fa-graduation-cap"></i></a> {% endcomment %}
        </div>
        <div class="theme-container shadow-dark">
            <img id="theme-icon"    src="https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg" alt="ERR">
          </div>
    </div>
</section>
{% endblock %}